<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>BurgerNaut</title>
		<link rel="stylesheet" href="https://use.typekit.net/qgk2wrd.css">
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="https://kit.fontawesome.com/c7d28a1474.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{{{ body }}}
		<footer>
				<p>Made with <i class="fas fa-heart"></i> by <a href="https://dan-gentile.github.io/website/" target="_blank">Dan Gentile</a></p>
				<p>Artwork by <a href="http://catalystvibes.dribbble.com/" target="_blank">Catalyststuff</a></p>
		</footer>
	</body>
</html>
