/* page resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #F8F4FF;
}

a:visited {
    text-decoration: none;
    color: #F8F4FF;
}

a:hover {
    text-decoration: none;
    color: #86C21F;
}

a:active {
    text-decoration: none;
    color: #F8F4FF;
}

ul {
    list-style-type: none;
}


/* Page Styling */

body {
    background-color: #F8F4FF;
    display: grid;
    grid-template-columns: 1fr 320px minmax(360px, 1fr) 320px 1fr;
    grid-template-rows: 340px 20px minmax(400px, 1fr) 240px 80px;
    font-family: dinosaur, sans-serif;
}

footer {
    background-color: #371A45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8F4FF;
    padding: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100vw;
}

.logo-box {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    display: flex;
    justify-content: center;
}

.create {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

#burger {
    width: 260px;
    height: 40px;
    border-radius: 8px;
    border-style: solid;
    border-color: #371A45;
    margin-top: 15px;
    text-align: center;
}

.icon {
    margin-left: 20px;
}

#submit {
    background-color: #592C6F;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    border-style: none;
    margin-top: 10px;
    color: #FFF;
    font-family: dinosaur, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
}

#submit:hover,
.change-eaten:hover {
    background-color: #371A45;
}

#submit:active,
.change-eaten:active {
    background-color: #86C21F;
}

.queue-headline {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    text-align: center;
}

.queue {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFF;
    border-radius: 8px;
    border-style: solid;
    border-color: #371A45;
    margin-top: 15px;
}

.queue-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 70px;
    padding: 0 0 0 5px;
    margin-top: 2px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
}

.change-eaten {
    background-color: #592C6F;
    height: 70px;
    width: 70px;
    border-radius: 8px;
    border-style: none;
    color: #FFF;
    font-family: dinosaur, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
}

.spent-headline {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    text-align: center;
}

.spent {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: #371A45;
    margin-top: 15px;
}

.spent-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0D3F8;
    width: 314px;
    height: 70px;
    padding: 0 5px 0 5px;
    margin-top: 2px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.delete {
    margin-right: 10px;
}


/* Media Query */

@media screen and (max-width: 1000px) {
    body {
        grid-template-columns: 1fr minmax(360px, 1fr) 1fr;
        grid-template-rows: 360px 140px 20px minmax(400px, 1fr) 20px minmax(400px, 1fr) 20px 80px;
    }
    .logo-box {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    .create {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .queue-headline {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .queue {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
    .spent-headline {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 5;
        grid-row-end: span 1;
    }
    .spent {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 6;
        grid-row-end: span 1;
    }
}